<div class="menu">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/signups/new">Contact</a>
    </li>
  </ul>
</div>

<div class="home-main">
  <h1> Create and share amazing stories </h1>
  <p> <a class="btn btn-warning" href="about">Learn more</a> </p>
</div>

<div class="home-support">
  <h2> testing H2 </h2>
</div>

<div class="home-secondary">
  <p> this is a text of the font </p>
</div>

<div class="home-about">
</div>

<div class="footer">
</div>
